<h3>{{ .title }} </h3>
<p>
  £{{ .price }}
  <a href=" {{ .productLink }}" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i> see it on Amazon</a>
</p>
<div class="backpack-info">
  <div class="backpack-col">
    <div class="backpack-img">
      <img src="{{ .imgsrc }} " alt="Picture of {{ .title }}">
    </div>
  </div>
  
  <div class="backpack-col">
    <ul class="icon-list">
    {{ range .pros }}
      <li class="icon-green fa fa-check">
        {{ . }}
      </li>
    {{ end }}
    {{ range .cons }}
      <li class="icon-red fa fa-times">
        {{ . }}
      </li>
    {{ end }}
    </ul>
  </div>
</div>
