<div class="rsvp-card">
  <div class="h-entry" id="{{ .id }}">
    <span class="u-url" href="https://annadodson.co.uk/events/#{{ .id }}"></span>
    <span class="p-author h-card">
      <a class="u-url" href="https://annadodson.co.uk">
        <img class="u-photo" src="https://annadodson.co.uk/profile-pic.png" alt="Anna Dodson"/>
        Anna Dodson
      </a>
    </span>
    <span class="rsvp-response {{ .rsvp }}">
      {{ if eq "yes" .rsvp }}
        <i class="fa fa-check" title="Attending" aria-hidden="true"></i>
      {{ end }}
      {{ if eq "no" .rsvp }}
        <i class="fa fa-times" title="Not Attending" aria-hidden="true"></i>
      {{ end }}
      {{ if eq "maybe" .rsvp }}
        <i class="fa fa-commenting-o" title="Maybe Attending" aria-hidden="true"></i>
      {{ end }}
      {{ if eq "interested" .rsvp }}
        <i class="fa fa-lightbulb-o" title="Interested in Attending" aria-hidden="true"></i>
      {{ end }}
    </span>
      <span class="p-rsvp">{{ .rsvp }}</span>
      <a href="{{ .eventUrl }}" target="_blank" class="u-in-reply-to">{{ .title }}</a>
      <p class="topic-description">{{ .eventTopic }}</p>
      {{ if .metaData }}
      <p class="meta-data">{{ .metaData }}</p>
      {{ end }}
      <p class="date">{{ .date }}</p>
  </div>
</div>
